html,
body {
  margin: 0px;
  padding: 0px;
  height: 2000px;
}

header {
  height: 50px;
  width: 100%;
  background-color: rgb(50, 133, 243);
  position: fixed;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav {
  width: 95vw;
  display: block;
}

.website-name {
  display: inline;
  margin-right: 30vw;
}

.nav-links {
  display: inline;
}

a {
  border: 1px solid black;
  padding: 10px;
  color: turquoise;
  font-size: 30px;
}

.hero-section {
  background:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(../assets/one-piece-hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  border: 5px black solid;
}

.hero-section h1 {
  color: turquoise;
  text-align: center;
  font-size: 50px;
  padding-top: 300px;
  margin-top: 50px;
  z-index: 1;
}
