html,
body {
  margin: 0px;
  padding: 0px;
  height: 2000px;
}

header {
  border: 1px red solid;
  height: 50px;
  width: 100%;
  background-color: rgb(50, 133, 243);
  position: fixed;
  text-align: center;
}

nav {
  border: 3px purple dotted;
  width: 90vw;
  display: block;
  margin: auto;
}

.website-name {
  display: inline;
  margin-right: 60vw;
}

.nav-links {
  display: inline;
}

a {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 30px;
}
